.outlet
{
	margin-left: 210px;
}

.page-content
{
	padding: 10px;
}

#gamesListContainer
{
	margin-bottom: 1em;
	width: 250px !important;
}

#editForm
{
	max-width: 486px;
}

#areYouSureModal .actions
{
	text-align: center;
}

#defaultText
{
	margin-top: 25px;
	text-align: center;
	font-size: x-large;
	color: gray;
}

#gamesListContainer
{
	padding-left: 20px;
}

.listHeader, h3
{
	padding-top: 5px !important;
}

#roundList .win
{
	/*background-color: rgba(33, 186, 69, 0.5);*/
	font-weight: bold;
}

#stats
{
	color: grey;
	line-height: 18px;
}

#primaryMenu .icon
{
	float: left;
	font-size: 28px;
}

#primaryMenu p
{
	margin-bottom: 10px;
}


/* Semantic UI overrides
 * TODO: edit the Semantic UI LESS scripts to do this
 */

.ui.divided.list .list>.item:first-child, .ui.divided.list>.item:first-child
{
	border-top: inherit !important;
}

.ui.secondary.pointing.menu .item
{
	padding-left: 0 !important;
}